<!DOCTYPE html5>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body style="text-align: center;">
    <div style="margin:10%; width: 80%" >
    <h1> Listado de prestamos </h1>
    <table style="width: 100%;border: 2px solid purple; border-radius: 10px; text-align: center;">
        <tr style="background-color: #e495e4;">
            <td>Nombre</td>
            <td>Fecha</td>
            <td>Monto</td>
            <td>Saldo</td>    
        </tr>
        {% for v in prestamos%}   
        <tr>
            <td>{{ v.client.name }}</td>
            <td>{{ v.date }}</td>
            <td>{{ v.amount }}</td>
            <td>{{ v.saldo }}</td>
        </tr>
    {% endfor %}
    </table>
    </div>





</body>
</html>